@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

:root {
    --nvc-black: #071838;
    --nvc-white: #f8f8f8;
    --nvc-light-blue: #1bbde3;
    --nvc-blue: #0b31ae;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--nvc-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

p {
    line-height: 1.5rem;
}

.navbar {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 420;
}

.bg-light {
    background-color: var(--nvc-white);
    color: var(--nvc-black);
}

.bg-white {
    background-color: white;
    color: var(--nvc-black);
}

.fixed-top {
    position: fixed;
    top: 0;
}

.navbar.fixed-top {
    width: 100%;
}

.navbar-brand, .navbar-brand a {
    text-decoration: none;
}

.navbar-brand img {
    height: 24px;
}

.navbar-nav {
    display: flex;
    padding: 0;
}

.nav-item {
    list-style: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nav-link, .nav-link-btn {
    text-decoration: none;
    color: var(--nvc-black);
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link-btn {
    border: .15rem solid var(--nvc-black);
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    transition: background-color 150ms ease;
}

.nav-link-btn:hover {
    background-color: var(--nvc-black);
    color: white;
}

.btn, .navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
}

.btn, .navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    width: 2rem;
    height: 2rem;
    display: none;
}

@media screen and (max-width: 1100px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        position: absolute;
        top: 8vh;
        right: 0;
        height: 90vh;
        background-color: var(--nvc-white);
        flex-direction: column;
        padding: 3.5rem;
        transform: translate(100%);
        transition: transform 150ms ease-in-out;
    }

    .navbar-nav.toggled {
        transform: translate(0);
    }

    .nav-item {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.hamburger, .hamburger:before, .hamburger:after {
    background-color: black;
    height: .2rem;
    width: 2rem;
    top: 50%;
    right: 20px;
    position: absolute;
    transition: all 150ms ease-in-out;
}

.hamburger:before {
    content: "";
    top: -.6rem;
    right: 0;
}

.hamburger:after {
    content: "";
    top: .6rem;
    right: 0;
}

.toggled .hamburger {
    transform: rotate(45deg);
}

.toggled .hamburger:before {
    opacity: 0;
}

.toggled .hamburger:after {
    transform: rotate(90deg) translate(-.6rem);
}

.font-weight-bold {
    font-weight: bold;
}

.slider {
    position: relative;
}

.slide {
    display: none;
    position: relative;
    height: calc(90vh - 1px);
    overflow: hidden;
}

.slide.active {
    display: block;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 90vh;
    filter: brightness(.5);
    transition: transform 1s ease-in-out;
}

.slide img:hover {
    transform: scale(1.05);
}

.slide .caption, .slide .detail {
    position: absolute;
    top: 10vh;
    color: var(--nvc-white);
    padding: 1.25rem;
    width: 50%;
    overflow: hidden;
}

.slide .detail {
    left: 50%;
}

.slide .caption h2 {
    font-size: 4rem;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .slide .caption {
        width: 100%;
        padding: .25rem;
        top: 14vh;
    }

    .slide .caption h2 {
        font-size: 3rem;
    }

    .slide .detail {
        display: none;
    }
}

.slide.fade {
    animation: slide-fade 1.5s;
}

@keyframes slide-fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.indicator {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0;
    display: flex;
}

.indicator li {
    list-style: none;
    margin-right: .25rem;
    margin-left: .25rem;
    width: 2rem;
    height: .4rem;
    background-color: var(--nvc-white);
    opacity: .8;
    transition: opacity .1s ease-in-out;
    border: 2px solid var(--nvc-black);
}

.indicator li.active, .indicator li:hover {
    cursor: pointer;
    opacity: 1;
}

.text-muted {
    opacity: .8;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mt-0, .my-0 {
    margin-top: 0;
}

.mb-0, .my-0 {
    margin-bottom: 0;
}

.mt-1, .my-1 {
    margin-top: .5rem;
}

.mt-3, .my-3 {
    margin-top: 1rem;
}

.mb-3, .my-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1, .col-sm-1, .col-md-1, .col-lg-1 {
    width: calc(100% / 12 * 1);
}

.col-2, .col-sm-2, .col-md-2, .col-lg-2 {
    width: calc(100% / 12 * 2);
}

.col-3, .col-sm-3, .col-md-3, .col-lg-3 {
    width: calc(100% / 12 * 3);
}

.col-4, .col-sm-4, .col-md-4, .col-lg-4 {
    width: calc(100% / 12 * 4);
}

.col-5, .col-sm-5, .col-md-5, .col-lg-5 {
    width: calc(100% / 12 * 5);
}

.col-6, .col-sm-6, .col-md-6, .col-lg-6 {
    width: calc(100% / 12 * 6);
}

.col-7, .col-sm-7, .col-md-7, .col-lg-7 {
    width: calc(100% / 12 * 7);
}

.col-8, .col-sm-8, .col-md-8, .col-lg-8 {
    width: calc(100% / 12 * 8);
}

.col-9, .col-sm-9, .col-md-9, .col-lg-9 {
    width: calc(100% / 12 * 9);
}

.col-10, .col-sm-10, .col-md-10, .col-lg-10 {
    width: calc(100% / 12 * 10);
}

.col-11, .col-sm-11, .col-md-11, .col-lg-11 {
    width: calc(100% / 12 * 11);
}

.col-12, .col-sm-12, .col-md-12, .col-lg-12 {
    width: calc(100% / 12 * 12);
}

[class^="col-"] {
    padding: 1.25rem;
}

@media screen and (max-width: 992px) {
    [class*="col-"] {
        width: 100% !important;
    }
}

.display-1 {
    font-size: 6rem;
}

.display-2 {
    font-size: 5rem;
}

.display-3 {
    font-size: 4rem;
}

.display-4 {
    font-size: 3rem;
}

.py-80 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.px-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.mx-20 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.img-about {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border: 3px solid var(--nvc-black);
}

.btn {
    font-weight: 600;
    font-family: Trap;
}

.btn-light {
    border: 3px solid var(--nvc-black);
    padding: .5rem 2rem;
    background-image: linear-gradient(to right, var(--nvc-black) 50%, var(--nvc-white) 0);
    color: var(--nvc-black);
    transition: background-position .3s;
    background-position: right;
    background-size: 200%;
}

.btn-light:hover {
    color: var(--nvc-white);
    background-position: left;
}

.bg-blue {
    background-color: var(--nvc-blue);
    color: white;
}

.bg-black {
    background-color: var(--nvc-black);
    color: var(--nvc-white);
}

.border-black {
    border: 3px solid var(--nvc-black);
}

.border-bottom-black {
    border-bottom: 3px solid var(--nvc-black);
}

.border-top-black {
    border-top: 3px solid var(--nvc-black);
}

.img-news, .img-news-big {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: top;
    border: 3px solid var(--nvc-black);
}

.img-news-big {
    height: 20rem;
}

.news-link {
    color: var(--nvc-black);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-blue-stroke {
    color: var(--nvc-blue);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

#vaccine {
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, var(--nvc-black) 50%, var(--nvc-blue) 0);
    background-position: bottom;
    background-size: 200% 200%;
    transition: background-position .2s;
}

#vaccine:hover {
    cursor: pointer;
    background-position: top;
}

#vaccine:hover h2 {
    -webkit-text-stroke-width: 0;
}

@media screen and (max-width: 576px) {
    #get-your-vaccine {
        font-size: 3rem;
        -webkit-text-stroke-width: 2px;
    }
}

.footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.footer-nav .nav-item {
    margin: .5rem;
}

.social-media-icon {
    margin: .5rem;
    display: inline-block;
}

@media screen and (min-width: 992px) {
    .text-lg-left {
        text-align: left;
    }

    .text-lg-right {
        text-align: right;
    }
}

.btn-sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to left, var(--nvc-blue) 50%, var(--nvc-black) 0);
    background-size: 200%;
    background-position: left;
    transition: background-position .2s;
}

.btn-sidebar .arrow, .btn-sidebar .arrow:after {
    width: 1.2rem;
    height: .2rem;
    background-color: white;
    position: absolute;
    transform: rotate(45deg) translate(0rem, -.75rem);
}

.btn-sidebar .arrow:after {
    content: "";
    top: -16px;
    right: 0;
    transform: rotate(-90deg) translate(-1.5rem, .5rem);
}

.btn-sidebar:hover {
    background-position: right;
    border-top: 3px solid var(--nvc-black);
    border-right: 3px solid var(--nvc-black);
    border-bottom: 3px solid var(--nvc-black);
}

.btn-sidebar:hover .arrow, .btn-sidebar:hover .arrow:after {
    background-color: var(--nvc-black);
}

#sidebar {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 25rem;
    max-width: 80vw;
    height: 90vh;
    background-color: var(--nvc-white);
    transform: translate(-100%);
    transition: transform 150ms ease-in-out;
    z-index: 42;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem;
}

#sidebar.active {
    transform: translate(0);
}

.sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    animation: fade 150ms;
}

#sidebar img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal {
    z-index: 422;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding: 5rem;
    overflow-y: auto;
    display: none;
}

.content {
    background-color: var(--nvc-white);
    padding: 1.25rem;
}

.modal .content img {
    width: auto;
    height: 25rem;
    display: block;
}

.modal .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .close {
    font-size: 2rem;
    opacity: .4;
    transition: opacity 150ms ease-in-out;
}

.modal .close:hover {
    cursor: pointer;
    opacity: .8;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 576px) {
    .footer-logo {
        height: 24px;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand img {
        height: 20px;
    }
}

.w-lg-50 {
    width: 50%;
}

@media screen and (max-width: 992px) {
    .w-lg-50 {
        width: 100%;
    }
}

.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-6 {
    margin-top: 5rem;
}

.mt-8 {
    margin-top: 8rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 3rem;
}

.d-block {
    display: block;
}

.font-weight-medium {
    font-weight: 500;
}

.form-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}

.form-control {
    width: 100%;
    padding: .5rem .75rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .25rem;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    transition: border 150ms ease;
}

.form-control:focus {
    outline: none;
    border-color: rgba(0, 0, 0, .5);
}

.logo-md {
    width: auto;
    height: 2rem;
}

@media screen and (max-width: 576px) {
    .logo-md {
        width: auto;
        height: 1.5rem;
    }
}

form .btn {
    padding: .75rem 1.75rem;
    font-size: 100%;
}

.btn-blue {
    background-color: var(--nvc-blue);
    color: var(--nvc-white);
    transition: background-color 150ms ease;
}

.btn-blue:hover {
    background-color: #0437e5;
}

.btn-rounded {
    border-radius: 2rem;
}

.ml-auto {
    margin-left: auto;
}

.shadow-md {
    box-shadow: 0 0 2.5rem .25rem rgba(0, 0, 0, .025);
}

.text-danger {
    color: #ae0b0b;
}

.m-0 {
    margin: 0;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.table th {
    font-family: Montserrat, sans-serif;
    text-align: left;
}

.table th, .table td {
    padding: 1rem;
}

.table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .025);
}

.table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .05);
    transition: background-color 150ms ease;
}

.table tbody tr:hover {
    background-color: var(--nvc-blue);
    color: white;
}

.table tbody tr:hover svg {
    color: white;
}

.table tbody td:first-child {
    border-radius: 1rem 0 0 1rem;
}

.table tbody td:last-child {
    border-radius: 0 1rem 1rem 0;
}

.table-responsive {
    overflow-x: auto;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.btn-light-blue {
    background-color: var(--nvc-light-blue);
    color: white;
}

.btn-center {
    padding: .25rem .75rem;
}

.btn-pill {
    border-radius: .5rem;
}

.btn-add {
    width: 3.5rem;
    transition: width 150ms ease;
    overflow-x: hidden;
}

.btn-add span {
    display: none;
}

.btn-add:hover {
    width: 6rem;
}

.btn-add:hover span {
    display: inline-block;
}

.modal-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .0);
    transition: background-color .5s ease;
    z-index: -1;
    overflow-y: hidden;
}

.modal-admin.active {
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    overflow-y: auto;
}

.modal-admin .title, .modal-admin .body {
    background-color: white;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 1.5rem;
    transform: translateY(-1000%);
    transition: transform .5s ease-out;
}

.modal-admin.active .title, .modal-admin.active .body {
    transform: translateY(0);
}

@media screen and (max-width: 992px) {
    .modal-admin .title, .modal-admin .body {
        width: 90%;
    }
}

.modal-admin .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-admin .close {
    font-size: 2.5rem;
}

.form-admin div + div {
    margin-top: 1.5rem;
}

.form-admin label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}

.form-admin input {
    width: 100%;
    padding: .75rem 1.5rem;
    background-color: rgba(0, 0, 0, .075);
    border: none;
    border-radius: 1rem;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    transition: background-color 150ms ease;
}

.form-admin input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, .05);
}
